{% set title = "Do you want to sign in with a Companies House account? - Report a discrepancy about a beneficial owner on the PSC register - GOV.UK" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../index"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/guest-signin/option" method="post">
        {% if errorOption == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select if you want to sign in with a Companies House account",
                href: "#guest-signin"
              }
            ]
          }) }}
          {{ govukRadios({
            idPrefix: "guest-signin",
            name: "guest-signin",
            fieldset: {
              legend: {
                text: "Do you want to sign in with a Companies House account?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: {
              text: "Select if you want to sign in with a Companies House account"
            },
            hint: {
              text: "This is different from a WebFiling account."
            },
            items: [
              {
                value: "yes",
                text: "Yes, sign in or register"
              },
              {
                value: "no",
                text: " No, continue as guest"
              }
            ]
          }) }}
        {% else %}
          {{ govukRadios({
            idPrefix: "guest-signin",
            name: "guest-signin",
            fieldset: {
              legend: {
                text: "Do you want to sign in with a Companies House account?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "This is different from a WebFiling account."
            },
            items: [
              {
                value: "yes",
                text: "Yes, sign in or register"
              },
              {
                value: "no",
                text: " No, continue as guest"
              }
            ]
          }) }}
        {% endif %}
        {{ govukDetails({
          summaryText: "Benefits of using a Companies House account ",
          html: "<p class='govuk-body'>After you have completed one report:</p> <ul class='govuk-list govuk-list--bullet'>
          <li>we'll store your contact details so that you do not have to fill them in again</li>
          <li>you can make changes to your details</li>
        </ul>"
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
