{% set title = "Tell us how you will sign in" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../index"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/guest-signin/option" method="post">
        {{ govukRadios({
  idPrefix: "guest-signin",
  name: "guest-signin",
  fieldset: {
    legend: {
      text: "Do you want to sign in with a Companies House account?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "This is different from a WebFiling account."
  },
  items: [
    {
      value: "yes",
      text: "Yes, sign in or register"
    },
    {
      value: "no",
      text: " No, continue as guest"
    }
  ]
}) }}
        {{ govukDetails({
  summaryText: "Read the benefits of using a Companies House account ",
  html: "You: <ul class='govuk-list govuk-list--bullet'>
  <li>need a Companies House account to file online</li>
  <li>can follow companies to check what they file</li>
  <li>can download a company snapshot to see its information at a glance</li>
</ul>"
}) }}

        {{ govukButton({
  text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}