{% extends "layout.html" %}
{% block pageTitle %}
  Which PSC is a duplicate? - Report a discrepancy about a beneficial owner on the PSC register - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "psc-names"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/discrepancy-details/psc-duplicate" method="post">
        {% if errorPSC == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select the PSC with a discrepancy",
                href: "#psc"
              }
            ]
          }) }}
          {{ govukCheckboxes({
            idPrefix: "psc",
            name: "psc",
            errorMessage: {
              text: "Select the PSC with a discrepancy"
            },
            fieldset: {
              legend: {
                text: "Which PSC is a duplicate?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "Mrs Catherine Isabel Gaynor",
                text: "Mrs Catherine Isabel Gaynor",
                hint: {
                  html: "Born November 1962"
                }
              },
              {
                value: "Mr Jonathan Charles Gaynor",
                text: "Mr Jonathan Charles Gaynor",
                hint: {
                  text: "Born June 1952"
                }
              },
              {
                value: "other",
                text: "PSC is missing"
              }
            ]
          }) }}
        {% else %}
          {{ govukCheckboxes({
            idPrefix: "psc",
            name: "psc",
            fieldset: {
              legend: {
                text: "Which PSC is a duplicate?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "Mrs Catherine Isabel Gaynor",
                text: "Mrs Catherine Isabel Gaynor",
                hint: {
                  html: "Born November 1962"
                }
              },
              {
                value: "Mr Jonathan Charles Gaynor",
                text: "Mr Jonathan Charles Gaynor",
                hint: {
                  text: "Born June 1952"
                }
              }
            ]
          }) }}
        {% endif %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",

  label: {
    text: "Can you provide more detail?",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  hint: {
    text: "Tell us any other relevant information about this discrepancy that supports your report (optional)."
  }
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
