{% extends "layout.html" %}
{% block pageTitle %}
  PSC information
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/discrepancy-details/confirm-company"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/discrepancy-details/psc-names" method="post">
        {% if errorPSC == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select the PSC with a discrepancy",
                href: "#psc"
              }
            ]
          }) }}
          {{ govukCheckboxes({
            idPrefix: "psc",
            name: "psc",
            errorMessage: {
              text: "Select the PSC with a discrepancy"
            },
            fieldset: {
              legend: {
                text: "Which PSC has a discrepancy for ZLC LTD?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "Mrs Catherine Isabel Gaynor",
                text: "Mrs Catherine Isabel Gaynor",
                hint: {
                  html: "Born November 1962"
                }
              },
              {
                value: "Mr Jonathan Charles Gaynor",
                text: "Mr Jonathan Charles Gaynor",
                hint: {
                  text: "Born June 1952"
                }
              },
              {
                value: "other",
                text: "PSC is missing"
              }
            ]
          }) }}
        {% else %}
          {{ govukCheckboxes({
            idPrefix: "psc",
            name: "psc",
            fieldset: {
              legend: {
                text: "Which PSC has a discrepancy for ZLC LTD?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "Mrs Catherine Isabel Gaynor",
                text: "Mrs Catherine Isabel Gaynor",
                hint: {
                  html: "Born November 1962"
                }
              },
              {
                value: "Mr Jonathan Charles Gaynor",
                text: "Mr Jonathan Charles Gaynor",
                hint: {
                  text: "Born June 1952"
                }
              },
              {
                value: "other",
                text: "PSC is missing"
              }
            ]
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
