{% set title = "Evidence" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "psc-person"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/discrepancy-details/psc-name-input" method="post">
        <h3 class="govuk-heading-s">You should tell us:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>which name is incorrect</li>
          <li>the correct name</li>
          <li>any other information about this discrepancy that supports your report</li>
        </ul>
        {{ govukTextarea({

          name: "psc-name-input",

          id: "psc-name-input",

          label: {
            text: "Give us more information about the discrepancy in Mrs Catherine Isabel Gaynor's name",

            classes: "govuk-label--l",

            isPageHeading: true
          },

          hint: {
            text: ""
          }

        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
