{% extends "layout.html" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "discrepancy-details/other-info"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Check your details before sending your report</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sarah Philips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: "ABC Limited "
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Obliged entity type"
            },
            value: {
              html: "Financial institution"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: 'peterl@myorganisation.org'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Discrepancy details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Mrs Catherine Isabel Gaynor"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }
              ]
            }
          },
          {
            key: {
              text: "Discrepancy type"
            },
            value: {
              text: "Name"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "Details provided"
            },
            value: {
              html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim orci eu tellus gravida, sit amet semper justo tincidunt. Proin dui leo, suscipit in faucibus ut, dignissim rhoncus quam. Integer iaculis tellus purus, id congue massa mollis commodo. Sed ut venenatis lectus. Vestibulum tristique lorem sit amet arcu posuere interdum."
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Now submit your report</h2>
      <p class="govuk-body">By submitting this report you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <form action="/form-handler" method="post" novalidate="novalidate">

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Submit discrepancy report",
          href: "confirmation"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}