{% extends "layout.html" %}
{% block pageTitle %}
  What are your contact details? - Report a discrepancy about a beneficial owner on the PSC register - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/guest-signin/option"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if errorEmail == true or errorNametwo == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <h1 class="govuk-heading-l">What are your contact details?</h1>
      <form action="/oe-contact" method="post">
        {% if errorName == true %}
          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "full-name",
            name: "full-name",
            classes: "govuk-!-width-two-thirds",
            autocomplete: "name",
            attributes: {
              spellcheck: "false"
            },
            errorMessage: {
              text: "Enter your full name"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "full-name",
            name: "full-name",
            classes: "govuk-!-width-two-thirds",
            autocomplete: "name",
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endif %}
        {% if errorEmail == true %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            hint: {
              text: "We’ll only use this to contact you for more information."
            },
            id: "email",
            name: "email",
            classes: "govuk-!-width-two-thirds",
            autocomplete: "email",
            errorMessage: {
              text: "Enter your email address"
            },
            hint: {
              text: "We’ll only use this to contact you if we need more information about your report."
            },
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            hint: {
              text: "We’ll only use this to contact you if we need more information about your report."
            },
            id: "email",
            name: "email",
            classes: "govuk-!-width-two-thirds",
            autocomplete: "email",
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
