{% extends "layout.html" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "discrepancy-details/other-info"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Your details</h1>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sarah Phillips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: "sphillips@myorganisation.org"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation"
            },
            value: {
              text: "ABC LIMITED"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Obliged entity type"
            },
            value: {
              text: "Financial institution"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue",
        href: "discrepancy-details/company-number"
       }) }}
    </form>
  </div>
</div>
{% endblock %}